
.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadCard {
    background-color: rgba(255, 255, 255, 0.85);
    flex-direction: column;
    width: 400px;
    margin: 50px;
    padding: 20px;
    border: 6px double #bb8cd9;
    color: #856098;
    text-align: center;
}

.uploadCard input{
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: none;
    outline: none;
    background-color: #dbd0e2;
}

.uploadCard input::placeholder{
    color: black;
}

.btn {
    font-size: 14px;
    padding: 6px 30px;
    margin: 10px;
    border: 2px solid #bb8cd9;
    border-radius: 10px;
    transition: 0.4s;
}

.btn:hover{
    background-color: #bb8cd9;
    color: white;
    cursor: pointer;
}

.submit{
    width: 70%;
    padding: 15px 0;
    font-weight: bold;
    background-color: #bb8cd9;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}

.submit:hover {
    transform: scale(1.05);
}

.imageMain {
    width: 80%;
    margin: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

.bg {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("https://images.unsplash.com/photo-1613233629323-b48337d6932c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

